<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Rail Seat Form</h1>
    <form action="#" th:action="@{/seat}" th:object="${seat}" method="post">
    	
        <p>Enter Seat Number : <input type="text" th:field="*{seatNo}" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</body>
</html>